* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: honeydew;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: none;
    margin: 0;
}

h1 {
    font-size: xxlarge;
}

h2 {
    font-size: xx-large;
}
h3 {
    font-size: medium;
    font-weight: 400;
}

.rubrik {
    background-color: rgb(140, 246, 225);
    display: flex;
    justify-content: center;
    position: relative;
    border: rgb(0, 70, 50) solid 1px;
}

.row2 {
    display: flex;
}

.menu {
    border: rgb(0, 70, 50) solid 1px;
    padding: 1rem;
    position: sticky;
    top: 0px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*The menu will stay on the side when scrolling down due to sticky and the top 0 in the code below*/

.menu>* {
    position: relative;
}

.col2 {  
    padding: 1rem;
}

.parkour {
    width: 80%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    border-radius: 100%;
    background-color: aquamarine;
    transition: 250ms ease-in;
}

.parkour a {
    text-decoration: none;
}

/* the a specefies that the changes should applie to text
textdecoration none removes the underscore*/

.parkour:hover {
    width: 100%;
    height: 1.7rem;
    background-color: yellowgreen;
    margin: 1rem;
    translate: 10% -5%;
}

/*i slightly changed the leangth and width to make i stretch
the backroundcolor changes
translatre pushes the divider 10% to the side and -5% down (5% upp)*/

.quickacces {
    width: 80%;
    height: 2rem;
    border-radius: 100%;
    background-color: yellowgreen;
    border: none;
    margin-left: 1rem;
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 250ms ease-in;
}

.subnav {
    display: flex;
}

.quickacces:hover .quickacces {
    color: yellowgreen;
}

.subnav-content {
    position: absolute;
    background-color: yellowgreen;
    z-index: 1;
    display: none;
    margin: 1rem;
    padding: 1rem;
    border-radius: 15%;
    transition: 250ms ease-in-out;
}

/* z index pushes it to be in the front
position absolute makes it not move*/


.mini {
    height: 80px;
    width: 100px;
}

.quickacces:hover .subnav-content {
    display: flex;
}

.skip-link {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: black;
    background-color: greenyellow;
    translate: 0 -100%;
    transition: translate 150ms ease-in-out;
    padding: .75rem;
    text-decoration: none;
}

.skip-link:focus,
.skip-link:hover {
    color: plum;
    text-decoration: underline;
    translate: 0;
}

.creator {
    float: right;
    width: 350px;
    height: 250px;
    background-color: lightgreen;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    margin-left: 1rem;
}

/* code to make the image be in the middle*/

.make_me {
    width: 300px;
    height: 200px;
    border-radius: 25px;
    float: none;
    margin-left: 0;
}


img {
    float: right;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-left: 1rem;
    border-radius: 10px;
}

.links {
    text-decoration: none;
    color: green;
}

.col2 {
    margin-right: 15%;
}

.footer {
    background: greenyellow;
    margin-top: auto;
    border: rgb(0, 70, 50) solid 1px;
    /* Margin finns där för att stoppa bilden på att lige precis vid footer. */
}
.footer-navigation {
 margin-left: 3rem;
 /* länkarna låg för mycket till vänster enligt mig så jag flyttade ut dem */
}