/******************************
 CSS Form
*******************************/

/* global styling */


*,
*::before,
*::after {                                            
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: whitesmoke;
}

/* form styling */

input, button, textarea {
    font-family: inherit;
    font-size: 1rem;
}

textarea {
    resize: none;
}

.message-box {
    display: flex;
    flex-direction: column;
}

legend {
    text-align: center;
    font-weight: bold;
}
.btn-send {
    margin-top: 2rem;
}